.about-us {
    text-align: center;
}

.about-us p {
    max-width: 750px;
    margin: auto;
}

.subtitle-wrapper {
    margin: 10px 0 28px 0;
}

@media screen and (max-width: 768px) {
    .about-us p {
        font-size: 12px;
    }
}